#user-card{
    width: 36rem;
    display: flex;
    justify-content: center;

    border-radius: 0.8rem;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    
    background-color: var(--color-card-background);

    transition: all 0.3s;
}

#user-card:hover{
    box-shadow: none;
    transform: translateY(-1rem);
}

#user-card #user-header-card{
    width: 16rem;

    background-color: var(--color-card-background);
    box-shadow: none;

    margin: 0;
    padding-left: 0;
    padding-right: 0;

    transition: height 1s ease-in-out;
}

#user-card .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    flex: 1;  
    border-left: 2px solid var(--color-input-background);

}

#user-card .content main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    flex: 1;
}

main p:first-child{
    text-align: center;

    font: 400 1.4rem Roboto;    
}

#user-card .content main .top-languages{
    display: flex;

    align-items: center;
    justify-content: center;

    font: 300 1.4rem Roboto;

    padding: 0.5rem;

}

.top-languages p:first-child{
    width: 1.0rem;
    height: 1.0rem;

    border-radius: 50%;

    background-color: var(--primary);
    
    margin-right: 0.8rem;

}
main .not-found{
    font: 300 1.4rem Roboto; 
    font-style: italic; 
    text-align: center;

    padding: 0.5rem;
}

#user-card .content footer{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

#user-card .content footer a{
    width: 100%;

    color: white;
    text-align: center;
    text-decoration: none;
    font: 400 1.3rem Roboto;   

    padding-top: 1rem;
    padding-bottom: 1rem;

    background: var(--primary);
    border-bottom-right-radius: 0.8rem;

    transition: background 0.3s;
}

@media(max-width: 560px){
    #user-card  #user-header-card{
        align-self: center;
    }

    #user-card{
        flex-direction: column;
    }

    #user-card .content{
        border-top: 2px solid var(--color-input-background);
        border-left: none;
    }
    
    #user-card .content main{
        max-height: 7rem;

        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
    }

    #user-card .content footer a{
        border-bottom-left-radius: 0.8rem;
    }
}