.message-match{
    width: 100%;
    height: 100%;

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999999;
    background: #f0f0f7d3;
}

