.loading{
   width: 100%;
   height: 100%;
   position: fixed;
   left: 0;
   top: 0;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   z-index: 999999;
   background: #f0f0f7d3;
}

.loading div img{
   width: 3.3rem;
   margin: 0.3rem 0.3rem;
   -webkit-animation: fireloading 0.7s linear infinite alternate;
   animation: fireloading 0.7s linear infinite alternate;
}

.loading div img:nth-child(1) {
    -webkit-animation-delay:-0.99;
    animation-delay:-0.99s;
 }
 .loading div img:nth-child(2) {
    -webkit-animation-delay: -0.79s;
    animation-delay: -0.69s;
 }
 .loading div img:nth-child(3) {
    -webkit-animation-delay: -0.49s;
    animation-delay: -0.39s;
 }
 @keyframes fireloading {
    from {transform: scale(0, 0);}
    to {transform: scale(1, 1);}
 }