.user-header{
    width: 20rem;
    max-width: 20rem;
    height: 17rem;
    
    padding: 1.0rem;

    border-radius: 0.8rem;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);

    background-color: var(--color-card-background);
}

.user-header img{
    width: 10rem;
    height: 10rem;

    padding: 0.3rem;

    border-radius: 50%;

    border: 0.2rem solid var(--primary);
}

.user-header .name{
    text-align: center;
    font: 400 1.8rem Roboto;

    margin-top: 0.8rem;
}

.user-header .username{
    font: 400 1.6rem Roboto;
    color: rgba(239, 66, 66, 0.801);
}

@media(max-width: 450px){
    .user-header{
        margin: 0.8rem;
    }
    .user-header .name{
        font-size: 1.6rem !important;
    }
    .user-header .username{
        font-size: 1.4rem !important;
    }
}