.user-header{
    width: 20rem;
    max-width: 20rem;
    
    padding: 1.0rem;

    border-radius: 0.8rem;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);

    background-color: var(--color-card-background);
}

.user-header img{
    width: 10rem;
    height: 10rem;

    padding: 0.3rem;

    border-radius: 50%;

    border: 0.2rem solid var(--primary);
}

@media(max-width: 450px){
    .user-header{
        margin: 0.8rem;
    }
}

.user-header .name{
    font: 400 1.8rem Roboto;

    margin-top: 0.8rem;
}

.user-header .username{
    font: 400 1.6rem Roboto;
    color: rgba(225, 86, 86, 0.678);
}