:root{
    --primary: #e15656ff;
    --color-background: #F8F8FC;
    --color-input-background: #F2F0F0;
    --color-card-background: #FAFAFC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
}

body{
    background: var(--color-background);
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}